//colors
$primary:       #5680c2;
$secondary:     #8f8f8f;

$privat:        #d45a68;
$institution:   #70b2ff;
$network:       #f2994a;
$material:      #00d6a3;

$text:          #f4f4f4;
$background-0:  #181818;
$background-1:  #1d1d1d;
$background-2:  #2c2c2c;
$background-3:  #303030;

//styles
$border-radius-button: 5px;

/* {
    color: $text !important;
    background-color: $background-0;
}*/

a {
    color: $primary;

    &:hover {
        color: $secondary;
    }
}

.top_outer {
    background: none !important;
    background-color: $background-2 !important;

    width: auto;

    .meta {
        background-color: inherit;

        .top_login_text * {
            background-color: $primary;
            border-radius: $border-radius-button;

            &:hover {
                background-color: $background-3;
            }
        }
    }

    .switchNavigation {
        margin: 0 0 0 10%;
    }

    * {
        background-color: inherit;
    }
}

/*removed parts because they are never used*/
.top_icons,
.top_user_name,
footer > .column:nth-last-child(1),
.sponsor,
[alt=Sachsen]
{
    display: none;
}

.skeleton_bottom * {
    all: initial;
    
    .column2 {
        text-align: left;
    }
}