.skeleton_main{
  background: none;
}

.menu_main * {
    background-color: #595959;
}

.menu_main .menu_0t{
    border-radius: 10px 10px 0 0;
}

.menu_inner > ul * {
    background-color: #303030;
    border-radius: 10px;
} 

.menu_0t *{
    color: #ffffff !important;
    background-color: #595959;
    border: none;
}

.skeleton_bottom {
border: none;
}