@mixin dropdown {
    @include input;
    color: $text;
    background-color: $dropdown-default;

    &:hover {
        background-color: $dropdown-hover;
    }

    &:active {
        background-color: $dropdown-active;
    }
}

@mixin dropdown-item {
    @include input;
    color: $text;
    background-color: $background-1;
    border-color: $outline !important;

    &:hover {
        background-color: $background-5;
    }

    &:active {
        background-color: $background-4;
    }
}

.select_outer {
    @include dropdown;
    margin: max($outline-width-active, $outline-width-hover, $outline-width-default);

    select {
        color:      $text;
        border:     none;
        background: none;

        option {
            @include dropdown-item;
        }
    }
}