@mixin dropdown {
    @include input;
    color: $text;
    background-color: $background-2;

    &:hover {
        background-color: $background-5;
    }

    &:active {
        background-color: $background-4;
    }
}

@mixin dropdown-item {
    @include input;
    color: $text;
    background-color: $background-1;

    &:hover {
        background-color: $background-5;
    }

    &:active {
        background-color: $background-4;
    }
}