* {
    color: #ffffff !important;
    background-color: #181818 !important;
}

.top_outer,
.top_outer *{
    background: none;
    background-color: #303030 !important;

    width: auto;
    margin: 0;
    padding: 0;
}

.skeleton_main{
  background: none;
}

.skeleton_bottom {
border: none;
}

/*removed parts because they are never used*/
.top_icons,
.top_user_name
{
    display: none;
}